* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #e2e2e2;
    --bg-active-color: #cecece;
    --text-color: #313233;
}

body {
    background-color: #ffffffdc;
    font-family: 'Roboto',arial,helvetica,sans-serif;
}

.contact-us {
    color: initial;
}

.contact-us .container-larg {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 80dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 4px 60px 4px;
}

.contact-us .container-small {
    min-height: 400px;
    width: 735px;
}

.contact-us-title {
    font-size: 32px;
    color: #333;
    text-align: center;
}
.contact-card {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.contact-us .question {
    padding: 16px 0;
    font-weight: bold;
    color: #333;
}

.contact-us .btn-large-content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.contact-us .box-icon {
    width: 24px;
    height: 24px;
    background-color: #8b8b8b;
}

.contact-us .btn-large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
  width: 220px;
  min-height: 55px;
  background-color: var(--bg-color);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.contact-us .btn-large:hover, .contact-us .btn-large.active{
  background-color: var(--bg-active-color);
}

.contact-us .alert {
    color: red;
}

.contact-us .btn-large-text {
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;
}

.contact-us .form-content {
    padding-top: 26px;
}

.contact-us .category-items{
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

.contact-us .category-items ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.contact-us .category-items ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    cursor: pointer;
    width: 220px;
    height: 66px;
    transition: all 0.3s ease-in-out;
    background-color: var(--bg-color);
    font-size: 13px;
    white-space: nowrap;
    color: var(--text-color);
}

.contact-us .category-items ul li:hover, .contact-us .category-items ul .active{
   background-color: var(--bg-active-color);  
   color: var(--text-color);
}

.hidden-group {
    display: none;
}

.contact-us .form-group {
  display: flex;
  gap: 16px;
  align-items: center;
}

.contact-us .form-group-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.contact-us .inputLabel {
    padding: 5px 0;
}

.contact-us .form-group-col input{
    line-height: 24px;
    height: 35px;
    border: 1px solid #d4d5d5;
    min-width: 150px;
    width: auto !important;
    border-radius: 4px;
    padding: 0 10px;
    outline-color: #d4d5d5;
}

.contact-us .form-group-col textarea {
    border: 1px solid #d4d5d5;
    padding: 5px 10px;
    min-width: 150px;
    border-radius: 4px;
    resize: vertical;
    width: 100%;
    outline-color: #d4d5d5;
}

.category-group-retur{
    padding-top: 20px;
}

.contact-us .button-row {
    display: flex;
    justify-content: center;
    padding: 26px 0;
}

.contact-us .button-row input {
    padding: 9px 16px;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgb(55 60 80 / 5%);
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s
}

.contact-us .button-row input:hover {
    background-color: var(--bg-active-color);
}

.contact-us .info {
    margin-top: 16px;
    text-align: center;
}

.contact-us .info-text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-us .info-text p{
    font-size: 14px;
    color: #333;
    line-height: 150%;
}

.contact-us .images-box {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding-top: 20px;
    border-top: 1px solid #c0c0c0;
}

.contact-us .image-box {
    text-align: center;
}

.contact-us .images-box .image-box img{
    max-width: 220px;
}

.contact-us .images-box .image-box h3{
    padding: 10px 5px;
}

.contact-us .images-box .image-box p{
    font-size: 14px;
    color: #333;
}

/* theme colors */

.color-content {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;
    padding: 20px 4px 4px 4px;
    justify-content: center;
}
.color-content .color-box{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
}
.color-content #red{
    background-color: #DF0000;
}
.color-content #green{
    background-color: #2ead5b;
}
.color-content #dark-blue{
    background-color: #14365a;
}
.color-content #default{
    background-color: #e2e2e2;
}
